body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

#map {
position: fixed;
width:100%;
}
#features {
width: 50%;
font-family: sans-serif;
overflow-y: scroll;
background-color: srgb(255,255,255,0.2);
position: absolute;
}
section {
padding:  25px 50px;
line-height: 25px;
border-bottom: 1px solid #ddd;
opacity: 0.25;
font-size: 13px;
height: 800px;
}
section.active {
opacity: 1;
}
section:last-child {
border-bottom: none;
margin-bottom: 200px;
}
