$headline-font: 'ff-real-headline-pro, sans-serif;';
$copytext-font: 'ff-real-text-pro, sans-serif;';

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $copytext-font;
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3 {
  font-weight: 600;
}

#map {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

#scroll {
  font-family: sans-serif;
  position: absolute;
  z-index: 2;
  width: 100%;
}

section {
  padding: 25px 50px;
  line-height: 25px;
  opacity: 0.25;
  font-size: 13px;
  transition: opacity 0.3 ease;
}

.step {
  transition: padding 0.5s ease;
}

.step_content {
  padding: 4%;
  width: 50%;
  /** background-color: rgba(255,255,255,1); */
}

.step_content.fullwidth {
  width: 100%;
  background-color: #fff;
}

section.is-active {
  opacity: 1;
  transition: opacity 0.3 ease;
}

section:last-child {
  border-bottom: none;
  margin-bottom: 200px;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
@media all and (max-width: 1199px) {}
@media all and (max-width: 991px) {
  .step_content {
    width: 100%;
  }
}
@media all and (max-width: 768px) {}
@media all and (max-width: 575px) {}