/** $headline-font: 'ff-real-headline-pro, sans-serif;';
$copytext-font: 'ff-real-text-pro, sans-serif;'; **/
$darkcolor: rgba(0, 0, 0, 1);
$featurecolor: #ffb300;
$headline-font: 'Lato', sans-serif;
$copytext-font: 'Roboto Slab', serif;
$bold-font: 900;
$semibold-font: 700;

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $copytext-font;
  font-size: 1rem;
  line-height: 1.6rem;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: $bold-font;
  font-family: $headline-font;
  padding-top: 1%;
  -moz-hyphens: none;
  -o-hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

h2 {
  padding-bottom: 1.5rem;
  font-size: 2.5rem;
}

h3 {
  padding-bottom: 1rem;
}

.strong {
  font-weight: 600;
}

.display-3 {
  font-weight: bold;
  color: #fff;
  font-size: 4rem;
  line-height: 4.5rem;
}

.lead {
  color: #fff;
  padding-top: 4%;
  max-width: 750px;
  font-family: $copytext-font;
  line-height: 1.8rem;
}

.marker {
  background-color: red;
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.navbar {
  padding: 1.2rem;
  background: #fff;
}

.navbar-brand {
  font-family: $headline-font;
  text-transform: uppercase;
  font-weight: $bold-font;
}

.navbar-brand:hover {
  color: $featurecolor;
}

.nav-link {
  color: #000 !important;
}

.nav-item {
  font-family: $headline-font;
  color: #000;

  a {
    text-transform: uppercase;
    color: #000;
  }

  a.nav-link:focus,
  a.nav-link:hover {
    color: $featurecolor !important;
  }
}

#map {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 65%;
  z-index: 1;
}

#scroll {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.step {
  transition: padding 0.5s ease;
  padding: 8% 4.8%;
  margin: 0;
  transition: opacity 0.3 ease;
  width: 35%;
  background-color: rgba(255,255,255,1);
}

.plainstep {
  padding: 6% 0;
}

.step_content {
  z-index: 4;
}

.fullwidth {
  width: 100%;
  background-color: #fff;
}

.fullwidth_video {
  width: 100%;
  background-color: rgba(0,0,0,0.25);
}

.intro {
  max-width: 70%;
  background-color: none;
  padding: 12% 0;
  margin-top: 50px;
}

.background-video {
  position: absolute;
  z-index: -10;
  background: none!important;
  width: 100%;
}

.container {
  max-width: 875px;
}

.historyImage {
  margin-left: 150px;
  padding-bottom: 30px;
  height: 300px;
}

.owl-nav {
  .owl-prev {
    left: -7%;
    top: 50%;
    position: absolute;
    width: 35px!important;
    height: 103.5px!important;
    outline: none;
    background-repeat: no-repeat!important;
    background-size: contain!important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35.628' height='103.959' viewBox='0 0 35.628 103.959'%3E%3Cpath id='Pfad_95' data-name='Pfad 95' d='M6009.981,8046.648l33.594,51.918-33.594,50.948' transform='translate(6044.77 8150.064) rotate(180)' fill='none' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E")!important;

    span {
      display: none;
    }
  }

  .owl-next {
    right: -7%;
    top: 50%;
    position: absolute;
    color: transparent;
    width: 35px!important;
    height: 103.5px!important;
    background-repeat: no-repeat!important;
    background-size: contain!important;
    outline: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35.628' height='103.959' viewBox='0 0 35.628 103.959'%3E%3Cpath id='Pfad_94' data-name='Pfad 94' d='M6009.981,8046.648l33.594,51.918-33.594,50.948' transform='translate(-6009.142 -8046.105)' fill='none' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E")!important;

    span {
      display: none;
    }
  }
  opacity: 1;
}

.owl-nav:hover {
  opacity: 0.5;
}

.fassadenCol {
  text-align: center;

  img {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.fassadenTable {
  max-width: 90%;
  margin: 0 auto;

  tbody tr td {
    width: 33.3%;
  }
}

.true {
  height: 15px;
  width: 15px;
  margin: 7px auto 0;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.104' height='29.104' viewBox='0 0 29.104 29.104'%3E%3Cg id='Gruppe_48' data-name='Gruppe 48' transform='translate(-790.388 -7455.189)'%3E%3Cpath id='Pfad_42' data-name='Pfad 42' d='M4477.095,12338.066l18.171,18.171,9.518,9.518' transform='translate(-3686 -4882.17)' fill='none' stroke='%23000' stroke-width='2'/%3E%3Cpath id='Pfad_43' data-name='Pfad 43' d='M0,0,18.171,18.17l9.518,9.519' transform='translate(818.785 7455.896) rotate(90)' fill='none' stroke='%23000' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
}

.false {
  height: 15px;
  width: 15px;
  margin: 7px auto 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30.099' height='36.908' viewBox='0 0 30.099 36.908'%3E%3Cpath id='Pfad_97' data-name='Pfad 97' d='M4589.482,12345.307l11.118,14.383,17.295-34.59' transform='translate(-4588.691 -12324.652)' fill='none' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E");
}

.outro {
  background-color: #f2f2f2;
  margin: 0;
}

.sources {
  font-size: 0.9rem;

  a {
    color: #000;
    text-decoration: underline;
  }

  a:hover {
    color: $featurecolor;
  }
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  color: $featurecolor;
  position: absolute;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: $bold-font;
  font-size: 2.5rem;
  font-family: $headline-font;
  /** z-index: -1; */
  margin-top: -130px;
}
@media all and (max-width: 1199px) {}
@media all and (max-width: 991px) {
  .step_content {
    width: 100%;
  }

  .step {
    width: 100%;
  }

  #map {
    top: 0;
    left: 0;
    width: 100%;
    height: 35%;
  }

  .step {
    margin: 20% 2.5%;
    padding: 0;
    width: 100%;
  }

  #scroll {
    height: 65%;
    bottom: 0;
    left: 0;
    overflow: scroll;
    position: fixed;
  }
}
@media all and (max-width: 768px) {}
@media all and (max-width: 575px) {}